main {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 70%;
}

@media (max-width: 890px) {

    main {
        width: 82%;
        justify-content: space-between;
    }
}