section {
    margin-top: -23px;
    background-color: var(--verde-claro);
    color: #FFF;
    padding: 1.5em 0;
    width: min(30%, 230px);
    min-width: 225px;
    text-align: center;
    border-radius: 5px;
}

h2 {
    margin-bottom: 0.8em;
}

span {
    font-size: 2em;
    font-weight: 700;
}

svg {
    vertical-align: text-bottom;
    margin-left: 5px;
}

@media (max-width: 990px) {
    
    section {
        padding: max(5%, 1em) 0;
        min-width: 150px;
    }

    h2 {
        font-size: max(2.8vw, 1em);
    }

    span {
      font-size: max(3.2vw, 1.3em);  
    }
}