form {
    background-color: var(--verde-claro);
    color: #FFF;
    width: 70%;
    min-width: 183px;
    margin: 1em auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em 0;
    font-size: 1em;
}

div div {
    margin: 0 20px 0.8em 0;
}

div.conteinerInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 0.8em;
}

input[type="text"], input[type="number"] {
    display: block;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 4px;
    background-color: var(--verde-escuro);
    color: #FFF;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: 0;
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 1px solid #FFF;
}

input[type="radio"] {
    margin-right: 4px;
}

button.btn-salvar {
    padding: 5px 8px;
    background-color: var(--up);
    color: var(--verde-escuro);
    font-weight: 700;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

button.btn-salvar:hover {
    background-color: var(--verde-escuro);
    color: #FFF;
}

@media (max-width: 990px) {

    form {
        width: 82%;
    }
}